*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/.idea
.idea
/captures
.externalNativeBuild
/.secret.txt
/secret.txt
/.idea/assetWizardSettings.xml
